* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vina Sans', cursive;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
:root {
    --first-color: #DCD5DC;
    --second-color: #E8AA9B;
    --third-color: #E46F44;
    --fourth-color: gray;
    --fifth-color: #1A385A;
    --big-font: 5em;
    --slinormal-font: 3em;
    --normal-font: 2em;
    --small-font: .8em;
}
.LOGO {
    display: flex;
}
.LOGO img {
    width: 2cm;
}
#home {
    min-height: 100vh;
    position: relative;
    isolation: isolate;
    background: url(images/ito2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 60% 50%;
    align-items: center;
    padding: 80px 18%;
}
#home::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: black;
    inset: 0;
    opacity: .8;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background: transparent;
    padding: 0px 10%;
    justify-content: space-between;
    transition: ease .5s;
    z-index: 100;
    transition: .3s ease-in-out;
}
header.scrolled {
    background-color: var(--fifth-color);
    transition: .5s ease-in-out;
    padding: 0px 20%;
    box-shadow: 0px 0px 10px 5px var(--fourth-color);
}
header.scrolled .navbar a {
    color: var(--first-color);
}
header.scrolled .navbar i {
    color: var(--first-color);
}
.LOGO {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--third-color);
    transition: .3s ease-in-out;
}
.LOGO h1 {
    padding-top: 14px;
}
span {
    color: var(--second-color);
    font-family: 'Poltawski Nowy', serif;
}
.navbar {
    display: flex;
}
.navbar a {
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 3px;
    color: var(--second-color);
    transition: ease .5s; 
}
.navbar a:hover {
    background: var(--fourth-color);
    color: var(--first-color);
    box-shadow: 0px 5px 25px var(--third-color);
    border-radius: 20px;
}
.navbar i {
    padding: 0px 10px;
}
section {
    padding: 80px 15%;
}
.container {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 50vh;
    transform: translate(-400px, 0px);
}
.swiper {
    width: 50%;
    height: fit-content;
}
.swiper-slide img {
    width: 15.341cm;
    height: 10.5cm;
    align-items: center;
    background-size: cover;
    border-radius: 30px;
    border: 3px solid var(--second-color);
}
.hometext {
    transform: translate(0px, 70px);
}
.hometext h1{
    font-size: var(--big-font);
    color: var(--second-color);
    line-height: 1;
    letter-spacing: 4px;
    font-weight: 5px;
    margin-bottom: 20px;
}
.hometext p {
    color: var(--first-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 40px;
}
.btnhome {
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    background: var(--first-color);
    color: var(--fifth-color);
    border-radius: 3px;
    transition: ease-in-out .5s;
}
.btnhome:hover {
    transform: scale(1.1);
}
.destinationtext h1{
    font-size: var(--slinormal-font);
}
.items {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 1em;
    text-align: left;
    margin-top: 4em;
    background: var(--second-color);
    padding: 20px 40px 20px;
    box-shadow: 0px 30px 30px  gray
}
.containerimg {
    position: relative;
}
.containerimg img {
    width: 12cm;
    height: 8cm;
    border-radius: 40px;
    box-shadow: 0px 20px 30px rgb(43, 43, 43);
    transition: .5s ease-in-out;
}
.containerimg img:hover {
    box-shadow: 0px 0px 0px 0px black;
}
.containerimg h3 {
    padding: 5px 20px;
    font-size: var(--normal-font);
    left: 20px;
    bottom: 40px;
    color: var(--third-color);
    position: absolute;
    isolation: isolate;

}
.containerimg h3::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: black;
    inset: 0;
    opacity: .56789;
}
.containerimg p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: var(--small-font);
    color: var(--first-color);
    position: absolute;
    isolation: isolate;
}
.containerimg p::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: black;
    inset: 0;
    opacity: .56789;
}
.facts {
    background: var(--second-color);
}
#facts1 h1 {
    padding-bottom: 30px;
}
#facts1 {
    background: white;
}
.titlename h1 {
    text-align: center;
    padding: 5px 20px;
    font-size: var(--slinormal-font);
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 4em;
    grid-gap: 3em;
}
.factbox img {
    width: 11cm;
    height: 7cm;
    padding-top: 20px;
    padding: 0px 20px;
    padding-bottom: 10px;
    border-radius: 50%;
}
.grid2 {
    background: var(--third-color);
    border: 1px solid var(--second-color);
    padding: 30px 50px;
    border-radius: 40px;
}
.grid2 h3 {
    font-size: 1.5em;
    padding: 20px 0px;
    text-align: center;
}
.grid2 p {
    background: var(--second-color);
    font-family: 'Vina Sans', cursive;
    padding: 20px;
    text-align: justify;
}
footer {
    background: var(--fifth-color);
    padding-bottom: 20px;
    text-align: center;
}
.logo {
    display: flex;
    text-align: center;
    justify-content: center;
}
.logo img {
    width: 1.5cm;
}
#aboutus h2 {
    font-size: var(--normal-font);
    padding-bottom: 10px;
    padding-top: 15px;
    color: var(--third-color);
}
#aboutus h3 {
    color: var(--first-color);
}
#aboutus p {
    font-size: var(--small-font);
    color: var(--first-color);
    text-align: center;
}
#aboutus ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
#aboutus ul li {
    margin:  0px 10px;
}
#aboutus ul li a {
    text-decoration: none;
    color: var(--first-color);
    font-size: 1.5em;
    transition: .3s ease-in-out;
}
#aboutus ul li a:hover {
    color: var(--third-color);
}
.foooter {
    background: var(--fourth-color);
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--fifth-color);
}

